
<h2>Add a Listing</h2>

<form action="/listings" method="post">

<p>
  <label>
    Street Address:
    <input type="text" name="streetAddress">
  </label>
</p>

<p>
  <label>
    City:
    <input type="text" name="city">
  </label>
</p>

<p>
  <label>
    Price (AUD):
    <input type="number" name="price" min="0">
  </label>
</p>

<p>
  <label>
    Size (in square metres):
    <input type="number" name="size" min="0">
  </label>
</p>


<button>Add</button>

</form>